<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>web07</display-name>
  <welcome-file-list>
    <welcome-file>ex01.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>ex02</servlet-name>
  	<servlet-class>com.bit.web07.Ex02</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ex02</servlet-name>
  	<url-pattern>/msg.ex02.html</url-pattern>
  </servlet-mapping>
</web-app>
<!-- 서버가 시작한 후 변경한 값은 적용되지 않는다; 서버가 시작할 때 web.xml 값을 읽는다. -->
